<h3>Create a New Tenant in 1 easy Step</h3>
<form action="/tenantlist" method="post">
    <label for="tenant">Tenant Name</label>
    <input id="tenant" type="text" name="name"/>
    <input type="submit"/>
</form>