
<h3>Create a New Apartment</h3>
<form action="/apartment-list" method="post">
    <label for="apartment">Apartment Address</label>
    <input id="apartment" type="text" name="address"/>
    <input type="submit"/>
</form>